* {
    margin: 0;
    padding: 0;
  }
  
  html,
  body,
  #app,
  .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
  }
  
  a {
    text-decoration: none
  }
  
  .content {
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 250px;
    right: 0;
    top: 70px;
    bottom: 0;
    width: auto;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: scroll;
  }
  
  .crumbs {
    margin-bottom: 20px;
  }
  
  .pagination {
    margin: 20px 0;
    text-align: right;
  }
  
  .plugins-tips {
    padding: 20px 10px;
    margin-bottom: 20px;
  }
  
  .el-button+.el-tooltip {
    margin-left: 10px;
  }
  
  .el-table tr:hover {
    background: #f6faff;
  }
  
  .mgb20 {
    margin-bottom: 20px;
  }
  
  .move-enter-active,
  .move-leave-active {
    transition: opacity .5s;
  }
  
  .move-enter,
  .move-leave {
    opacity: 0;
  }
  